body{
	background-color: #1E88E5;
	font-family: 'robotomedium';
}
#button-start{
	z-index:5;
}
#game{
	z-index: 4;
}
#game,
#button-start{
	position: absolute;
    top: 50%;
    transform: translate(0, -50%) !important;
    width: 100%;
    text-align: center;
    color: #c3c3c3;
}
#button-start button{
    background-color: #fff;
    color: #1E88E5;
    font-weight: bold;
    border-radius: 25px;
    max-width: 200px;
    width: 100%;
    height: 45px;
    transform: scale(1);
    -webkit-transition: transform .5s ease;
	  -moz-transition: transform .5s ease;
	   -ms-transition: transform .5s ease;
		-o-transition: transform .5s ease;
		   transition: transform .5s ease;
}
#button-start button.desaparecer{
	transform: scale(0);
}
.aparecer{
	opacity: 1 !important;
}
#game{
	opacity: 0;
	-webkit-transition: opacity 3s ease;
	  -moz-transition: opacity  3s ease;
	   -ms-transition: opacity  3s ease;
		-o-transition: opacity  3s ease;
		   transition: opacity  3s ease;
}
#game .mdl-card{
	margin: auto;
	box-shadow: 0px 5px 25px rgba(0,0,0,0.25), 0 5px 40px rgba(0,0,0,0.22);
	max-width: 550px;
	width: 100%;
	color:#757575;
	padding: 25px;
}
#game .mdl-card h1{
	font-size: 20px;
	color: #757575;
}
#game button{
	background-color: #1E88E5;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 25px;
    transform: scale(1);
    transition: transform .5s ease;
}
.mdl-input button{
	max-width: 180px;
	width: 100%;
}
.dado{
	height: 50px;
	width: 102%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}
.mdl-input{
	margin: 10px 0;
}
@media ( max-width : 600px) {
	#game .mdl-card{
		max-width: 320px;
	}
}

#dice {
	font-size: 6rem;
}